# Xcode
#
build/

/product/code/SkyDrive/*.lproj/Localizable.strings
!/product/code/SkyDrive/en.lproj/Localizable.strings
/product/code/SkyDrive/*.lproj/FileProvider.strings
/product/code/SkyDrive/Settings.bundle/*.lproj/OutOfAppSettings.strings
/product/inc/BuildVersion.h-e

*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/xcuserdata
product/OneDrive.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

!/product/OneDrive.xcworkspace/xcshareddata/IDETemplateMacros.plist